body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/* @media (min-width: 769px) {
    .fundo01 {
        width: 100%;
        margin-top: -75%;
        
    }
} */

#itens-wrapper {
    display: flex;
    overflow-x: scroll;
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
}

@media (min-width: 769px) {
    #itens {
        width: 100vw;
        height: 100vh;
    }
    img {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 768) {
    #itens {
        width: 100vw;
        height: 100vh;
    }
}

::-webkit-scrollbar {
    height: 15px;
}


/* Fundo da barra de rolagem */

 ::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}


/* Cor do indicador de rolagem */

 ::-webkit-scrollbar-thumb:vertical,
 ::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}


/* Cor do indicador de rolagem - ao passar o mouse */

 ::-webkit-scrollbar-thumb:vertical:hover,
 ::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171
}