/* Tabela de Cores Site
    #ffb4a2 (mais claro)
    #e5989b (tom sobre tom / claro)
    #582c4d (mais escuro) */

body {
    background-color: #582c4d;
}

.menuprincipal {
    background-color: #e5989b;
    width: 100%;
    height: 100px;
}

.botaoTop1 a img {
    margin-top: 100px;
    position: fixed;
    z-index: 100;
    width: 20%;
}

.botaoTop2 a img {
    margin-top: 200px;
    position: fixed;
    z-index: 100;
    width: 6%;
}

.botaoTop3 a img {
    margin-top: 300px;
    position: fixed;
    z-index: 100;
    width: 6%;
}

.botaoTop4 a img {
    margin-top: 400px;
    position: fixed;
    z-index: 100;
    width: 6%;
}

.redessociais {
    font-size: 25px;
    margin-top: 40px;
    margin-left: 100px;
}

.letrasmenu h2 {
    color: #582c4d;
}

.letramaisescura {
    color: #582c4d;
}

.letramaisclara {
    color: #e5989b;
}

footer {
    background-color: #e5989b;
    height: 100px;
}

.linhaVertical {
    background-color: #e5989b;
    width: 2%;
    height: 350px;
    margin-top: 90px;
}

.logomarca img {
    width: 70%;
}